/.gradle/
/assets/
/images/*
/tmp/*
xbmc/assets/*
xbmc/build/
xbmc/build.gradle
xbmc/classes.dex
xbmc/colors.xml
xbmc/java/
xbmc/lib/*
xbmc/libs/*
xbmc/obj/*
xbmc/res/
xbmc/searchable.xml
xbmc/src/*.java
xbmc/src/**/*.java
